<section>
    <div class="card p-5 m-5 card-dark">
        <ul>
            <li class="item">Aa</li>
            <li class="item">Bb</li>
            <li class="item">Cc</li>
            <li class="item">Dd</li>
            <li class="item">Ee</li>
        </ul>
    </div>

    <div class="card m-5 p-5">
        <h1 class="item">First</h1>
        <h2 class="item">Second</h2>
        <h3 class="item">Third</h3>
        <h4 class="item">Fourth</h4>
        <p>Not</p>
        <p></p>
        <h1 class="item">First</h1>
        <h2 class="item">Second</h2>
        <h3 class="item">Third</h3>
        <h4 class="item">Fourth</h4>

    </div>
</section>