<section>
    <div lang="fr" class="card p-3 m-3 card-dark">
        <a class="link" href="https://github.com/">Click me!</a>
    </div>
    <div lang="en" id="test" class="card p-3 m-3 card-dark">
        <input>
        <span>Hello world!</span>
    </div>

    <div class="p-3 m-3 card-dark">
        <button>Test button</button>
        <button disabled>Disabled button</button>
    </div>

    <div class="p-3 m-3 card-dark">
        <input class="inp">

        <div class="mt-3">
            <input type="checkbox">
            <span>First checkbox</span>
        </div>
        <div>
            <input type="checkbox">
            <span>Second checkbox</span>
        </div>
    </div>

    <div class="p-3 m-3 card-dark">
        <input type="email" class="valid" placeholder="test">
        <span>Test</span>
    </div>

    <div class="p-3 m-3 card-dark">
        <input type="number" min="10" max="20" required class="number">
    </div>
</section>