<section>
    <div class="card p-5 card-dark">
        <input class="input-dark" required>
        <input class="input-dark" type="number">
    </div>
</section>

<section class="card mt-5 p-5 card-dark">
    <div>
        <img alt="image small card 100px" class="small-img" src="https://picsum.photos/200/300" height="100">
        <br>
        <a href="https://picsum.photos/200/300" rel="external">Link</a>
    </div>

    <div class="row mt-4 g-3">
        <button class="btn">Click me!</button>
        <br />
        <a class="small btn btn-success bigf" href="https://picsum.photos/200/300">Click me!</a>
    </div>
</section>

<div class="card m-5 p-5">
    <p class="big-text">This is a big text info about text info. <br> This is a big text info about text info.This is a
        big
        text info about text info.This is a big text info about text info. </p>
</div>

<div class="card m-5">
    <input class="input-dark p-3" placeholder="This is your name">
</div>

<div class="card m-5 p-5">
    <p class="big-text">This is a big text info about text info. <br> This is a big text info about text info.This is a
        big
        text info about text info.This is a big text info about text info. </p>
</div>