<main>
    <p class="test">Test field</p>
    <span>Inline</span>
    <span>Inline</span>
    <span class="block">Inline</span>
    <span>Inline</span>
    <span>Inline</span>

    <div style="margin-top: 50px; background-color: yellowgreen">
        <ol class="list">
            <li>Test text 1</li>
            <li>Test text 2</li>
            <li>Test text 3</li>
            <li>Test text 4</li>
            <li>Test text 5</li>
        </ol>
    </div>

    <div class="gate">
        <ol class="list">
            <li>Test text 1</li>
            <li>Test text 2</li>
            <li>Test text 3</li>
            <li>Test text 4</li>
            <li>Test text 5</li>
        </ol>
    </div>
</main>